<section class="container create-thoughts ff-inter">
  <header class="header">
    <h2>Adicione um <br>penamento novo:</h2>

    <form [formGroup]="form">
      <label for="Penamento">Pensamento</label>
      <input 
      type="textarea" 
      class="input" 
      id="thought" 
      formControlName="conteudo" 
      placeholder="Digite um penamento"
      >

      <div class="message__error"
      *ngIf="form.get('conteudo')?.errors && form.get('conteudo')?.touched">
        Pensamento é Obrigatório!
      </div>
      
      <label for="autoria">Autoria ou Fonte</label>
      <input
      type="text"
      class="input"
      id="thought"
      formControlName="autoria"
      placeholder="Digite a autoria ou fonte"
      >

      <div class="message__error"
      *ngIf="form.get('autoria')?.errors?.['required'] && form.get('autoria')?.touched">
        Autoria é Obrigatório!
      </div>
       
      <div class="message__error"
      *ngIf="form.get('autoria')?.errors?.['minlength'] && form.get('autoria')?.touched">
        Autoria precisa ter no mínimo 3 caracteres!
      </div>
    
      <label for="modelo">Selecione o modelo do card:</label>

      <div class="container-radio">
        <div *ngFor="let modelo of modelos" class="radio-modelo">
          <label [for]="modelo.id">
            <input 
            type="radio" 
            [id]="modelo.id"  
            [value]="modelo.id"
            formControlName="modelo"
            >

            <div class="custom-radio">
              <span></span>
            </div>
            
            <span>{{ modelo.nome }}</span>
          </label>
          
          Prévia:
          <div [class]="'modelo ff-roboto-mono ' + modelo.id">
            <img [src]="modelo.imgSrc" alt="Aspas">
            
            <p class="conteudo"><b>{{ form.get('conteudo')?.value }}</b></p>
            <p class="autoria"><b>{{ form.get('autoria')?.value }}</b></p>
          </div>
        </div>
      </div>
      <div class="acoes">
        <button
        [disabled]="!form.valid"
        (click)="createThoughts()"
        [ngClass]="enableButton()"
        >
          Salvar
        </button>
        <button (click)="cancel()" class="botao">Cancelar</button>
      </div>
    </form>
  </header>
</section>